{
  "openapi": "3.0.0",
  "info": {
    "title": "Microsoft Graph API",
    "version": "v1.0",
    "description": "API to obtain message center messages including OAuth authentication"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/admin/serviceAnnouncement/messages": {
      "get": {
        "summary": "Get message center messages",
        "description": "Retrieve the message center messages or just the count",
        "operationId": "getMessages",
        "parameters": [
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by clause for sorting results. Defaults to newest messages first (lastModifiedDateTime desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "lastModifiedDateTime desc",
              "example": "lastModifiedDateTime desc"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Total number of records returned",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Specifies the maximum number of items to return in a result set",
            "required": false,
            "schema": {
              "type": "string",
              "default": "odata.maxpagesize=5"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return. Set to 0 to retrieve only the count (@odata.count) without any message data. Useful for count-only queries like 'How many messages are there?'",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "examples": {
              "countOnly": {
                "value": "0",
                "description": "Returns only the count of messages without retrieving actual message data"
              },
              "firstPage": {
                "value": "5",
                "description": "Returns the first 5 messages"
              }
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter the results based on specific conditions. For count-only queries, combine with $top=0 to get just the total number of matching records. Use `contains(tolower(title),tolower('search term'))` to search within the title property for a specific term or phrase. For multi-word searches, include the entire phrase in quotes. For create time, use the 'startDateTime' property with a date format. For example, `startDateTime ge 2025-03-01T00:00:00Z` to filter messages created after March 1, 2025. For major change messages, use `isMajorChange eq true`. To combine filters, use `and` operator. For example, `contains(tolower(title),tolower('Copilot agent')) and startDateTime ge 2025-03-01T00:00:00Z`. For the 'Tags' field, here is an example of the a query segment for the tags field: tags/any(t: t eq 'New feature'). For the 'severity' field, you can filter by severity using `severity eq 'normal'` or `severity eq 'high'` or `severity eq 'critical'`. For the 'category' field, you can filter by category using `category eq 'stayInformed'` or `category eq 'planForChange'` or `category eq 'preventOrFixIssue'`. For the 'Services' field, here is an example of a query segment for the services field: services/any(s: contains(s, 'Copilot')). When searching an message center update for roadmap ids, these are found in the 'details' field. Here is an example of a query segment for the details field, when searching for RoadmapIds: details/any(d: d/name eq 'RoadmapIds' and contains(d/value, '501107')). Note the 'name' property is used to specify the type of detail being searched, in this case 'RoadmapIds'. The 'value' property is then used to search for the specific roadmap id. RoadmapIds is case sensitive and must be used exactly as shown. To filter by message body, use `contains(tolower(body/content),tolower('search term'))` to search within the body content.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "simple-001": {
                "value": "severity eq 'critical'",
                "description": "Show me all critical messages",
                "summary": "simple_filters: Show me all critical messages"
              },
              "simple-002": {
                "value": "contains(tolower(title),tolower('Microsoft Teams'))",
                "description": "Find messages about Microsoft Teams",
                "summary": "simple_filters: Find messages about Microsoft Teams"
              },
              "simple-003": {
                "value": "isMajorChange eq true",
                "description": "Show only major changes",
                "summary": "simple_filters: Show only major changes"
              },
              "simple-004": {
                "value": "category eq 'planForChange'",
                "description": "Show Plan for Change messages",
                "summary": "simple_filters: Show Plan for Change messages"
              },
              "simple-006": {
                "value": "category eq 'stayInformed'",
                "description": "Show Stay Informed messages",
                "summary": "simple_filters: Show Stay Informed messages"
              },
              "simple-007": {
                "value": "contains(tolower(title),tolower('security'))",
                "description": "Find messages about security",
                "summary": "simple_filters: Find messages about security"
              },
              "simple-008": {
                "value": "contains(tolower(title),tolower('Copilot'))",
                "description": "Show messages about Copilot",
                "summary": "simple_filters: Show messages about Copilot"
              },
              "simple-009": {
                "value": "category eq 'preventOrFixIssue'",
                "description": "Show Prevent or Fix Issue messages",
                "summary": "simple_filters: Show Prevent or Fix Issue messages"
              },
              "simple-010": {
                "value": "severity eq 'normal'",
                "description": "Find all normal severity messages",
                "summary": "simple_filters: Find all normal severity messages"
              },
              "simple-011": {
                "value": "contains(tolower(body/content),tolower('Copilot'))",
                "description": "Find 'Copilot' in the message body",
                "summary": "simple_filters: Find 'Copilot' in the message body"
              },
              "simple-high-001": {
                "value": "severity eq 'high'",
                "description": "Show me all high severity messages",
                "summary": "simple_filters: Show me all high severity messages"
              },
              "compound-001": {
                "value": "contains(tolower(title),tolower('Copilot')) and isMajorChange eq true",
                "description": "Find messages about Copilot that are major changes",
                "summary": "compound_filters: Find messages about Copilot that are major changes"
              },
              "compound-002": {
                "value": "severity eq 'critical' and category eq 'planForChange'",
                "description": "Show critical messages that are Plan for Change",
                "summary": "compound_filters: Show critical messages that are Plan for Change"
              },
              "compound-003": {
                "value": "severity eq 'high' and isMajorChange eq true and contains(tolower(title),tolower('Teams'))",
                "description": "Find high severity major changes about Teams",
                "summary": "compound_filters: Find high severity major changes about Teams"
              },
              "compound-004": {
                "value": "contains(tolower(title),tolower('security')) and category eq 'stayInformed'",
                "description": "Show messages about security that are Stay Informed",
                "summary": "compound_filters: Show messages about security that are Stay Informed"
              },
              "compound-005": {
                "value": "severity eq 'critical' and isMajorChange eq true",
                "description": "Find critical major changes",
                "summary": "compound_filters: Find critical major changes"
              },
              "compound-006": {
                "value": "category eq 'planForChange' and contains(tolower(title),tolower('Microsoft 365'))",
                "description": "Show Plan for Change messages about Microsoft 365",
                "summary": "compound_filters: Show Plan for Change messages about Microsoft 365"
              },
              "compound-007": {
                "value": "severity eq 'high' and category eq 'preventOrFixIssue'",
                "description": "Find high severity Prevent or Fix Issue messages",
                "summary": "compound_filters: Find high severity Prevent or Fix Issue messages"
              },
              "compound-008": {
                "value": "isMajorChange eq true and contains(tolower(title),tolower('Exchange'))",
                "description": "Show major changes about Exchange",
                "summary": "compound_filters: Show major changes about Exchange"
              },
              "compound-009": {
                "value": "severity eq 'normal' and category eq 'stayInformed'",
                "description": "Find normal severity Stay Informed messages",
                "summary": "compound_filters: Find normal severity Stay Informed messages"
              },
              "compound-010": {
                "value": "category eq 'planForChange' and isMajorChange eq true",
                "description": "Show Plan for Change major changes",
                "summary": "compound_filters: Show Plan for Change major changes"
              },
              "compound-011": {
                "value": "contains(tolower(title),tolower('SharePoint')) and severity eq 'critical'",
                "description": "Find messages about SharePoint that are critical",
                "summary": "compound_filters: Find messages about SharePoint that are critical"
              },
              "compound-012": {
                "value": "category eq 'preventOrFixIssue' and isMajorChange eq true and contains(tolower(title),tolower('OneDrive'))",
                "description": "Show Prevent or Fix Issue major changes about OneDrive",
                "summary": "compound_filters: Show Prevent or Fix Issue major changes about OneDrive"
              },
              "temporal-001": {
                "value": "startDateTime ge 2025-03-01T00:00:00Z",
                "description": "Find messages created after March 1, 2025",
                "summary": "temporal_queries: Find messages created after March 1, 2025"
              },
              "temporal-002": {
                "value": "startDateTime ge 2025-10-22T00:00:00Z",
                "description": "Show messages published in the last 30 days",
                "summary": "temporal_queries: Show messages published in the last 30 days"
              },
              "temporal-003": {
                "value": "lastModifiedDateTime ge 2025-01-01T00:00:00Z",
                "description": "Find messages modified since January 1, 2025",
                "summary": "temporal_queries: Find messages modified since January 1, 2025"
              },
              "temporal-004": {
                "value": "startDateTime ge 2025-03-01T00:00:00Z and startDateTime le 2025-06-01T00:00:00Z",
                "description": "Show messages created between March 1 and June 1, 2025",
                "summary": "temporal_queries: Show messages created between March 1 and June 1, 2025"
              },
              "temporal-005": {
                "value": "actionRequiredByDateTime le 2024-06-15T23:59:59Z",
                "description": "Find messages with action required by June 15, 2024",
                "summary": "temporal_queries: Find messages with action required by June 15, 2024"
              },
              "temporal-006": {
                "value": "startDateTime ge 2025-11-14T00:00:00Z",
                "description": "Show messages from last week",
                "summary": "temporal_queries: Show messages from last week"
              },
              "temporal-007": {
                "value": "contains(tolower(title),tolower('Copilot')) and startDateTime ge 2025-09-01T00:00:00Z",
                "description": "Find messages about Copilot created after September 1, 2025",
                "summary": "temporal_queries: Find messages about Copilot created after September 1, 2025"
              },
              "temporal-008": {
                "value": "isMajorChange eq true and startDateTime ge 2025-10-21T00:00:00Z",
                "description": "Show major changes from the last month",
                "summary": "temporal_queries: Show major changes from the last month"
              },
              "temporal-009": {
                "value": "severity eq 'critical' and startDateTime ge 2025-09-22T00:00:00Z",
                "description": "Find critical messages created in the last 60 days",
                "summary": "temporal_queries: Find critical messages created in the last 60 days"
              },
              "temporal-010": {
                "value": "category eq 'planForChange' and startDateTime ge 2025-01-01T00:00:00Z",
                "description": "Show Plan for Change messages from this year",
                "summary": "temporal_queries: Show Plan for Change messages from this year"
              },
              "collection-001": {
                "value": "tags/any(t: t eq 'New feature')",
                "description": "Find messages tagged as New feature",
                "summary": "collection_filters: Find messages tagged as New feature"
              },
              "collection-002": {
                "value": "tags/any(t: t eq 'User impact')",
                "description": "Show messages tagged with User impact",
                "summary": "collection_filters: Show messages tagged with User impact"
              },
              "collection-003": {
                "value": "services/any(s: contains(tolower(s), tolower('Copilot')))",
                "description": "Find messages for services containing Copilot",
                "summary": "collection_filters: Find messages for services containing Copilot"
              },
              "collection-004": {
                "value": "tags/any(t: t eq 'Admin impact') and tags/any(t: t eq 'User impact') and contains(tolower(title),tolower('Teams'))",
                "description": "Show messages tagged as Admin impact with User impact about Teams",
                "summary": "collection_filters: Show messages tagged as Admin impact with User impact about Teams"
              },
              "collection-005": {
                "value": "details/any(d: d/name eq 'RoadmapIds' and contains(tolower(d/value), tolower('501107')))",
                "description": "Find messages containing roadmap id 501107",
                "summary": "collection_filters: Find messages containing roadmap id 501107"
              },
              "collection-006": {
                "value": "tags/any(t: t eq 'Retirement')",
                "description": "Show messages tagged as Retirement",
                "summary": "collection_filters: Show messages tagged as Retirement"
              },
              "collection-007": {
                "value": "services/any(s: contains(tolower(s), tolower('Exchange')))",
                "description": "Find messages for Exchange Online service",
                "summary": "collection_filters: Find messages for Exchange Online service"
              },
              "collection-008": {
                "value": "tags/any(t: t eq 'New feature') and contains(tolower(title),tolower('Copilot')) and startDateTime ge 2025-10-22T00:00:00Z",
                "description": "Show New feature messages about Copilot from the last 30 days",
                "summary": "collection_filters: Show New feature messages about Copilot from the last 30 days"
              },
              "count-005": {
                "value": "category eq 'planForChange' and startDateTime ge 2025-10-22T00:00:00Z",
                "description": "Count Plan for Change messages from the last 30 days",
                "summary": "count_only: Count Plan for Change messages from the last 30 days"
              },
              "count-008": {
                "value": "services/any(s: contains(tolower(s), tolower('Teams')))",
                "description": "How many messages for Microsoft Teams service?",
                "summary": "count_only: How many messages for Microsoft Teams service?"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@odata.context": {
                      "type": "string",
                      "description": "Context URL for the response data"
                    },
                    "@odata.count": {
                      "type": "integer",
                      "description": "Total number of records matching the filter. Always present when $count=true."
                    },
                    "value": {
                      "type": "array",
                      "description": "Array of message objects. Empty when $top=0 (count-only queries).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "contentType": {
                                "type": "string",
                                "enum": [
                                  "html",
                                  "text"
                                ]
                              },
                              "content": {
                                "type": "string",
                                "description": "HTML-encoded content string"
                              }
                            },
                            "required": [
                              "contentType",
                              "content"
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the detail property (e.g., 'RoadmapIds')"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the detail property"
                                }
                              }
                            }
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "enum": [
                              "Basic Mobility and Security",
                              "Dynamics 365 Apps",
                              "Exchange Online",
                              "Microsoft 365 apps",
                              "Microsoft 365 Copilot Chat",
                              "Microsoft 365 for the web",
                              "Microsoft 365 suite",
                              "Microsoft Copilot (Microsoft 365)",
                              "Microsoft Copilot Chat",
                              "Microsoft Dataverse",
                              "Microsoft Defender XDR",
                              "Microsoft Entra",
                              "Microsoft Forms",
                              "Microsoft Intune",
                              "Microsoft OneDrive",
                              "Microsoft Power Automate",
                              "Microsoft Power Automate in Microsoft 365",
                              "Microsoft Purview",
                              "Microsoft Teams",
                              "Microsoft Viva",
                              "Planner",
                              "Power Apps",
                              "Power Apps in Microsoft 365",
                              "Power BI",
                              "Power Platform",
                              "Project for the web",
                              "SharePoint Online",
                              "Windows",
                              "Windows Autopatch"
                            ]
                          },
                          "category": {
                            "type": "string",
                            "enum": [
                              "stayInformed",
                              "planForChange",
                              "preventOrFixIssue"
                            ]
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "normal",
                              "high",
                              "critical"
                            ]
                          },
                          "startDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "isMajorChange": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "@odata.count"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions. You need the Message Center Reader or the Global Admin role to access this agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Please check your authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/${{TEAMS_APP_TENANT_ID}}/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/${{TEAMS_APP_TENANT_ID}}/oauth2/v2.0/token",
            "refreshUrl": "https://login.microsoftonline.com/${{TEAMS_APP_TENANT_ID}}/oauth2/v2.0/token",
            "scopes": {
              "https://graph.microsoft.com/ServiceMessage.Read.All": "Access Microsoft Graph API"
            }
          }
        }
      }
    }
  }
}
