# Developer-managed version constant - update when incrementing agent version
AGENT_VERSION=2.0.2

# These variables will be automatically populated by the provisioning process
# AAD_APP_CLIENT_ID=
# SECRET_AAD_APP_CLIENT_SECRET=
# AAD_APP_OBJECT_ID=
# AAD_APP_TENANT_ID=
# AAD_APP_OAUTH_AUTHORITY=
# AAD_APP_OAUTH_AUTHORITY_HOST=
# TEAMS_APP_ID=
# OAUTH2_REGISTRATION_ID=
